---
# Front matter comment to ensure Jekyll properly reads file.
---

$body-color: {{ site.body_background_color }};
$accent-color: {{ site.link_color }};
$device-frame: "/assets/iphone-white.png";

$header-title-color: {{ site.header_title_color }};
$app-title-color: {{ site.app_title_color }};
$app-price-color: {{ site.app_price_color }};
$app-headline-color: {{ site.app_headline_color }};
$app-description-color: {{ site.app_description_color }};

$feature-title-color: {{ site.feature_title_color }};
$feature-text-color: {{ site.feature_text_color }};
$footer-text-color: {{ site.footer_text_color }};

$feature-icons-foreground-color: {{ site.feature_icons_foreground_color }};
$feature-icons-background-color: {{ site.feature_icons_background_color }};

$social-icons-foreground-color: {{ site.social_icons_foreground_color }};
$social-icons-background-color: {{ site.social_icons_background_color }};

@import 
    "base",
    "layout"