<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{% if page.layout == 'default' %}
        <script>
            $(function() {
                $(".iphoneScreen").attr('src', '/assets/localized-img/frog-{{page.lang}}.png');
                $(".iphoneScreen").click(function () {
                    if ($(".iphoneScreen").attr('src') == '/assets/localized-img/frog-{{page.lang}}.png') {
                        $(".iphoneScreen").attr('src', '/assets/localized-img/frog-answer-{{page.lang}}.png');
                    } else {
                        $(".iphoneScreen").attr('src', '/assets/localized-img/frog-{{page.lang}}.png');
                    }
                    if ($(".handTapContainer").hasClass('hidden') == false) {
                        $(".handTapContainer").addClass('hidden');
                    }
                });
                
            });
        </script>
{% endif %}
