.imageWrapper {					// Sets the background image in the header area
	height: 494px;
	background: radial-gradient(1000px circle at 80% -20%, #2AF598, #08AEEA 80%, #08AEEA 95%);
	background-position: top;
	border-radius: 0px;
}

.imageWrapperShort {					// Sets the background image in the header area
	height: 115px;
	background: radial-gradient(1000px circle at 80% -20%, #2AF598, #08AEEA 80%, #08AEEA 95%);
	background-position: top;
	border-radius: 0px;
}

.headerBackground {
	height: 115px;
	background-color: transparent;
}

.container {					// Set up the container for the site content
	display: grid;
	margin: auto;
	max-width: $content-width;
	padding-left: 15px;
	padding-right: 15px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 115px 376px auto;
	grid-column-gap: 30px;
	grid-template-areas: 
		"h h h h h h h h h h h h"
		"p p p i i i i i i i i i"
		"p p p c c c c c c c c c"
}

.containerPrivacyPolicy {	
	display: grid;
	margin: auto;
	max-width: $content-width;
	padding-left: 15px;
	padding-right: 15px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 115px auto;
	grid-column-gap: 30px;
	grid-template-areas: 
		"h h h h h h h h h h h h"
		"p p p p p p p p p p p p"
}

.privacyPolicyContent {
	grid-area: p;
	margin-top: 53px;
}

.headerName > a {
	color: white;
}

.privacyPolicyContent > h1 {
	margin-bottom: 20px;
}

.privacyPolicyContent > h2 {
	margin-bottom: 20px;
}

.privacyPolicyContent > h3 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	margin-top: 20px;
}

.privacyPolicyContent > h4 {
	font-size: 2rem;
	margin-bottom: 20px;
}

.privacyPolicyContent > p {
	font-size: 1.5rem;
}

.privacyPolicyContent > ul {
	font-size: 1.5rem;
	margin-left: 40px;
}

p.privacyPolicyFooter {
	font-size: 1rem;
	margin-bottom: 20px;
	text-align: right;
}

.container-illustrations {
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: 
		"d d d d d d d d d d d d"
		"r r r r r r r r r r r r"
		"s s s s s s s s s s s s"
		"q q q q q q q q q q q q"
}

.container-bottom {
	margin-top: 50px;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: 
		"l l l l l l l l l l l l"
		"f f f f f f f f f f f f"
}

@media only screen and (max-width: 1070px) {

	.container {					// Set up the container for the site content
		grid-template-rows: 115px 526px auto auto;
		grid-template-areas: 
		"h h h h h h h h h h h h"
		"p p p i i i i i i i i i"
		"c c c c c c c c c c c c"
	}

	.container-illustrations {
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas: 
			"d d d d d d d d d d d d"
			"r r r r r r r r r r r r"
			"s s s s s s s s s s s s"
			"q q q q q q q q q q q q"
	}

	.container-bottom {
		margin-top: 50px;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-template-areas: 
			"l l l l l l l l l l l l"
			"f f f f f f f f f f f f"
	}
}

@media only screen and (max-width: 992px) {

	.imageWrapper {		
		height: 695px;
	}

	.container {
		grid-column-gap: 0px;
		grid-template-columns: 1;
		grid-template-rows: 115px auto auto auto auto;
		grid-template-areas: 
			"h h h h h h h h h h h h"
			"i i i i i i i i i i i i"
			"p p p p p p p p p p p p"
			"c c c c c c c c c c c c"
	}

	.container-illustrations {
		grid-template-rows: auto;
		grid-template-areas: 
			"d d d d d d d d d d d d"
			"r r r r r r r r r r r r"
			"s s s s s s s s s s s s"
			"q q q q q q q q q q q q"
	}

	.container-bottom {
		margin-top: 50px;
		grid-template-columns: 1;
		grid-template-rows: auto;
		grid-template-areas: 
			"l l l l l l l l l l l l"
			"f f f f f f f f f f f f"
	}
}

header {
	grid-area: h;
	display: flex;
}

// Navigation Links
nav {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 115px;
}

.btn-default {
	color: white;
	box-shadow: none;
	background-color: transparent;
	border: none;
	font-size: 16px;
}

.btn:focus {
	box-shadow: none;
	background-color: transparent;
}

.btn:hover {
	color: white;
	background-color: rgba(#f2f2f2, 0.7);
}

.btn:active {
	color: white;
	background-color: rgba(#f2f2f2, 0.7);
}

.show > .btn-default.dropdown-toggle {
	background-color: rgba(#f2f2f2, 0.7);
}

.headerMenu {
	padding-top: 38px;
}

.dropdown-menu {
	margin-right: 60px;
}

.dropdown-item {
	font-size: 16px;
}

a.dropdown-item {
	color: #333;
}

.logo {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	height: 115px;
}

.logo > p {
	color: $header-title-color;
	display: flex;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 1px;
}

@media only screen and (max-width: 528px) {

	.logo > p {
		visibility: hidden;
	}
	
	.logo.visible > p {
		visibility: visible;
	}
} 

.headerIcon {
	width: 50px;
	height: 50px;
	margin-right: 15px;
}

// App Title, Price, Description and Links

.appInfo {
	grid-area: i;
	display: flex;
	flex-wrap: wrap;
	padding-top: 100px;
	align-content: flex-start;
}

@media only screen and (max-width: 992px) {

	.appInfo {
		padding-top: 50px;
		justify-content: center;
	}

} 

.appIconShadow {
	display: flex;
	filter: $drop-shadow;
}

.appIconLarge {
	width: 120px;
	height: 120px;
	-webkit-clip-path: url(#shape120);
	clip-path: url(#shape120);
}

.appName {
	color: $app-title-color;
}

.appPrice {
	color: $app-price-color;
	font-weight: normal;
	margin-top: 13px;
}

.appHeadlineContainer {
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

.appHeadline {
	color: $app-headline-color;
}

@media only screen and (max-width: 768px) {

	.appHeadlineContainer {
		width: 100%;
		margin-left: 0px;
		align-items: center;
		justify-content: center;
	}

	.appName {
		margin-top: 30px;
		text-align: center;
	}

	.appHeadline {
		margin-top: 30px;
		text-align: center;
	}
	
	.appPrice {
		margin-top: 13px;
		text-align: center;
	}
	
} 

.appDescriptionContainer {
	font-size: 2.5rem;
	font-weight: normal;
	width: 100%;
	align-items: flex-start;
	margin-top: 20px;
	flex: 0 1 auto;
	line-height: 1.5;
}

.appDescription {
	color: $app-description-color;
}

@media only screen and (max-width: 992px) {

	.appDescription {
		text-align: center;
	}
	
} 

.downloadButtonsContainer {
	display: inline-block;
	margin-top: 42px;
	filter: $drop-shadow;
}

@media only screen and (max-width: 992px) {

	.downloadButtonsContainer {
		text-align: center;
	}
	
} 

.playStore {
	height: 75px;
}


.appStore {
	margin-right: 24px;
	height: 75px;
}

@media only screen and (max-width: 992px) {

	.appStore {
		margin-right: 24px;
		margin-bottom: 0px;
	}
	
} 

@media only screen and (max-width: 528px) {

	.appStore {
		margin-right: 0px;
		margin-bottom: 24px;
	}
	
} 



// iPhone Device Preview

.iphonePreview {
	grid-area: p;
	background-image: url($device-frame);
	background-size: 230px auto;
	background-repeat: no-repeat;
	margin-top: 68px;
	position: relative;
}

.iphoneScreen {
	width: 200px;
	-webkit-clip-path: url(#screenMask);
	clip-path: url(#screenMask);
	margin-left: 16px;
	margin-top: 14px;
}

.handTapContainer {
	position: absolute;
	left: 85px;
	top: 350px;
}

.videoContainer {
	width: 200px;
	height: 433px;
	-webkit-clip-path: url(#screenMask);
	clip-path: url(#screenMask);
	margin-left: 26px;
	margin-top: 23px;
}

.videoContainer > video {
	width: 200px;
	height: 433px;
}

@media only screen and (max-width: 1070px) {

	.iphonePreview {
		background-size: 210px auto;
	}

	.iphoneScreen {
		width: 185px;
		margin-left: 13px;
		margin-top: 10px;
	}

	.videoContainer {
		width: 185px;
		height: 400px;
		margin-left: 24px;
		margin-top: 22px;
	}
	
	.videoContainer > video {
		width: 185px;
		height: 400px;
	}
	
} 

@media only screen and (max-width: 992px) {

	.iphonePreview {
		display: flex;
		background-size: 260px auto;
		background-position: center 0;
		margin-top: 47px;
		justify-content: center;
		padding-bottom: 75px;
	}

	.iphoneScreen {
		width: 226px;
		height: 488px;
		-webkit-clip-path: url(#screenMask);
		clip-path: url(#screenMask);
		margin: 0px;
		margin-top: 17px;
	}

	.videoContainer {
		width: 226px;
		height: 488px;
		margin-left: 0px;
		margin-top: 17px;
	}

	.videoContainer > video {
		width: 226px;
		height: 488px;
	}
	
} 


// Feature List

.features {
	grid-area: c;
	display: flex;
	flex: 0 1 auto;
	align-content: flex-start;
	justify-content: flex-start;
	flex-grow: 1;
	flex-wrap: wrap;
	margin-top: 53px;
}

.feature {
	display: flex;
	padding-top: 63px;
	padding-left: 15px;
	padding-right: 15px;
	width: calc(100%/3);
}

.feature:nth-child(-n+3) {
    padding-top: 0px;   
}

.feature:nth-child(3n) {
	padding-right: 0px;
}

.feature:nth-child(3n+1) {
	padding-left: 0px;
}

.iconBack {
	color: $feature-icons-background-color;
}

.iconTop {
	color: $feature-icons-foreground-color;
}

.socialIconBack {
	color: $social-icons-background-color;
}

.socialIconTop {
	color: $social-icons-foreground-color;
}

.featureText {
	margin-left: 18px;
}

.featureText > h3 {
	color: $feature-title-color;
}

.featureText > p {
	color: $feature-text-color;
	margin-top: 8px;
	line-height: 1.5;
}

@media only screen and (max-width: 992px) {

	.features {
		flex-grow: 1;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		flex-wrap: nowrap;
		margin-top: 11px;
	}

	.feature {
		display: flex;
		padding-top: 41px;
		padding-left: 15px;
		padding-right: 15px;
		width: 100%;
	}

	.feature:nth-child(-n+3) {
		padding-top: 41px;   
	}

	.feature:nth-child(1) {
		padding-top: 0px;   
	}

	.feature:nth-child(3n) {
		padding-right: 15px;
	}
	
	.feature:nth-child(3n+1) {
		padding-left: 15px;
	}
} 

// Illustrations
.illustrations {
	margin-top: 53px;
	background: radial-gradient(circle at 0% 120%, #FAD961, #FF5ACD 80%, #FF5ACD 95%);
}

.illustrationContainer {
	margin-top: 53px;
	grid-area: d;
	display: flex;
	align-content: center;
	justify-content: center;
}

.illustrationText {
	grid-area: r;
	color: white;
	text-align: center;
	padding-top: 50px;
	align-content: center;
	justify-content: center;
}

.illustrationPrompt {
	grid-area: q;
	padding-top: 0px;
}

.illustrationDescription {
	padding-top: 10px;
	padding-left: 10%;
	padding-right: 10%;
	line-height: 1.5;
}

.illustrationImage {
	margin-left: 20px;
	margin-right: 20px;
	width: 100px;
	height: 100px;
}

.illustrationImageSelected {
	border: 3px solid #2577DC;
	border-radius: 50px;
}

@media only screen and (max-width: 1070px) {
}

@media only screen and (max-width: 992px) {
	.illustrationImage {
		margin-left: 5px;
		margin-right: 5px;
		width: 80px;
		height: 80px;
	}

	.illustrationDescription {
		padding-left: 5%;
		padding-right: 5%;
		line-height: 1.5;
	}
}

@media only screen and (max-width: 568px) {
	.illustrationImage {
		width: 50px;
		height: 50px;
	}
}

.illustrationHat {
	z-index: 2;
	position: absolute;
}

.lion-german-hat {
	top: -13px;
	left: 110px;
	height: 43px;
	width: auto;
}

.lion-french-hat {
	height: 63px;
	width: auto;
	top: -16px;
	left: 135px;
}

.lion-chinese-hat {
	height: 114px;
	width: auto;
	top: -35px;
	left: 77px;
}

.cow-german-hat {
	top: -17px;
	left: 125px;
	height: 84px;
	width: auto;
}

.cow-french-hat {
	height: 65px;
	width: auto;
	top: -16px;
	left: 117px;
}

.cow-chinese-hat {
	height: 140px;
	width: auto;
	top: -36px;
	left: 108px;
}

.sheep-german-hat {
	height: 56px;
	width: auto;
	top: -18px;
	left: 30px;
}

.sheep-french-hat {
	height: 61px;
	width: auto;
	top: -30px;
	left: 48px;
}

.sheep-chinese-hat {
	height: 151px;
	width: auto;
	top: -31px;
	left: 9px;
}

.pig-german-hat {
	height: 51px;
	width: auto;
	top: -20px;
	left: 110px;
}

.pig-french-hat {
	height: 66px;
	width: auto;
	top: -22px;
	left: 69px;
}

.pig-chinese-hat {
	height: 168px;
	width: auto;
	top: -59px;
	left: 75px;
}

.duck-german-hat {
	height: 43px;
	width: auto;
	top: -24px;
	left: 113px;
}

.duck-french-hat {
	height: 64px;
	width: auto;
	top: -15px;
	left: 140px;
}

.duck-chinese-hat {
	height: 70px;
	width: auto;
	top: -32px;
	left: 113px;
}

.lion {
	padding-left: 60px;
}

.cow {
	padding-left: 30px;
}

.sheep {
}

.pig {
	padding-left: 50px;
}

.duck {
	padding-left: 90px;
}

.illustrationMainContainer {
	grid-area: s;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 60px;
	margin-bottom: 53px;
	padding-bottom: 53px;
	position: relative;
}

.illustrationMainImage {
	z-index: 1;
	height: 250px;
	width: auto;
}

.illustrationMainWrapper {
	margin-top: 29px;
	width: 298px;	
	height: 250px;
	margin-right: 20px;
	position: relative;
}

.illustrationCountries {
	height: 305px;
	width: 167px;
	margin-right: 80px;
}

.countryArrow {
	padding-bottom: 50px;
	display: flex;
	flex-direction: row;
	width: 82px;
	height: auto;
}

.country {
	margin-left: 14px;
}

.flag {
	padding: 3px;
	width: 82;
	height: auto;
}

.flagSelected {
	border: 3px solid #2577DC;
	padding: 0px;
}

.arrowSize {
	width: 82px;
	height: auto;
}

.arrowGerman {
	margin-top: 25px;
}

.arrowChinese {
	margin-top: 15px;
}

.arrowFrench {
	margin-top: -10px;
}

@media only screen and (max-width: 992px) {

	.illustrationMainContainer {
		margin-top: 15px;
		justify-content: center;
		padding-bottom: 0px;
	}

	.illustrationMainImage {
		height: 150px;
	}	

	.illustrationMainWrapper {
		width: 159px;	
		height: 150px;
		margin-left: 0px;
		margin-right: 10px;
		position: relative;
	}

	.illustrationCountries {
		height: 237px;
		width: 147px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.countryArrow {
		width: 62px;
		padding-bottom: 20px;
	}

	.arrowSize {
		width: 62px;
	}

	.arrowFrench {
		margin-top: 0px;
	}

	.lion {
		padding-left: 10px;
	}
	
	.cow {
		padding-left: 18px;
	}
	
	.pig {
		padding-left: 30px;
	}
	
	.duck {
		padding-left: 54px;
	}

	.lion-german-hat {
		top: -10px;
		left: 40px;
		height: 26px;
		width: auto;
	}
	
	.lion-french-hat {
		height: 38px;
		width: auto;
		top: -10px;
		left: 54px;
	}
	
	.lion-chinese-hat {
		height: 68px;
		width: auto;
		top: -21px;
		left: 22px;
	}
	
	.cow-german-hat {
		top: -10px;
		left: 75px;
		height: 50px;
		width: auto;
	}
	
	.cow-french-hat {
		height: 39px;
		width: auto;
		top: -8px;
		left: 72px;
	}
	
	.cow-chinese-hat {
		height: 84px;
		width: auto;
		top: -21px;
		left: 65px;
	}
	
	.sheep-german-hat {
		height: 34px;
		width: auto;
		top: -14px;
		left: 22px;
	}
	
	.sheep-french-hat {
		height: 37px;
		width: auto;
		top: -21px;
		left: 28px;
	}
	
	.sheep-chinese-hat {
		height: 91px;
		width: auto;
		top: -19px;
		left: 5px;
	}
	
	.pig-german-hat {
		height: 31px;
		width: auto;
		top: -12px;
		left: 68px;
	}
	
	.pig-french-hat {
		height: 40px;
		width: auto;
		top: -12px;
		left: 42px;
	}
	
	.pig-chinese-hat {
		height: 101px;
		width: auto;
		top: -36px;
		left: 45px;
	}
	
	.duck-german-hat {
		height: 26px;
		width: auto;
		top: -14px;
		left: 69px;
	}
	
	.duck-french-hat {
		height: 38px;
		width: auto;
		top: -8px;
		left: 85px;
	}
	
	.duck-chinese-hat {
		height: 42px;
		width: auto;
		top: -22px;
		left: 68px;
	}
}

@media only screen and (max-width: 568px) {
	.illustrationCountries {
		height: 217px;
		width: 105px;
		padding-left: 0px;
		margin-right: 10px;
		margin-top: 10px;
	}

	.countryArrow {
		width: 42px;
	}

	.arrowSize {
		width: 42px;
	}

	.arrowChinese {
		margin-top: 8px;
	}
	
	.arrowFrench {
		margin-top: 8px;
	}
	
	.flag {
		width: 52px;
		height: auto;
	}
}

// Language List

.languagesContainer {
	grid-area: l;
	justify-content: center;
	align-content: center;
	margin-top: 20px;
}

.languages {
	display: flex;
	flex: 0 1 auto;
	align-content: flex-start;
	justify-content: flex-start;
	flex-grow: 1;
	flex-wrap: wrap;
	margin-top: 53px;
	margin-left: 20%;
	margin-right: 10%;
}

.language {
	display: flex;
	align-content: flex-start;
	padding-top: 23px;
	padding-left: 15px;
	padding-right: 15px;
	width: calc(100%/3);
}

.language:nth-child(-n+3) {
    padding-top: 0px;   
}

.language:nth-child(3n) {
	padding-right: 0px;
}

.language:nth-child(3n+1) {
	padding-left: 0px;
}

@media only screen and (max-width: 900px) {
	.languages {
		margin-left: 10%;
		margin-right: 5%;
	}
}

@media only screen and (max-width: 750px) {
	.languages {
		margin-left: 20%;
		margin-right: 10%;
	}

	.language {
		width: calc(100%/2)
	}

	.language:nth-child(-n+1) {
		padding-top: 0px;
	}

	.language:nth-child(3) {
		padding-top: 23px;
	}

	.language:nth-child(2n) {
		padding-right: 0px;
		padding-left: 15px;
	}
	
	.language:nth-child(2n+1) {
		padding-left: 0px;
	}
}

@media only screen and (max-width: 528px) {
	.languages {
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 20px;
	}

	.language {
		display: flex;
		padding-top: 21px;
		padding-left: 20%;
		padding-right: 0px;
		width: 100%;
	}

	.language:nth-child(-n+1) {
		padding-top: 21px;   

	}

	.language:nth-child(3) {
		padding-top: 21px;   
	}

	.language:nth-child(2n) {
		padding-right: 0px;
		padding-left: 30%;
	}
	
	.language:nth-child(2n+1) {
		padding-left: 30%;
	}

	.language:nth-child(-n+3) {
		padding-top: 21px;   
	}

	.language:nth-child(3n+1) {
		padding-left: 30%;
	}
}

@media only screen and (max-width: 385px) {
	.language:nth-child(2n) {
		padding-left: 20%;
	}
	
	.language:nth-child(2n+1) {
		padding-left: 20%;
	}

	.language:nth-child(3n+1) {
		padding-left: 20%;
	}
}

.languageIconBack {
	color: #2577DC;
}

.languageIconTop {
	color: white;
}

.languageText {
	padding-top: 8px;
	margin-left: 18px;
}

.languageText > h2 {
	text-align: center;
	color: $feature-title-color;
}

.languageText > h3 {
	color: $feature-title-color;
}

.languageDivider {
	margin-top: 80px;
}

// Footer
footer {
	grid-area: f;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.footerAppIcon {
	width: 70px;
	height: 70px;
}

.footerLogo {
	margin-top: 25px;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 115px;
}

.footerText {
	color: $footer-text-color;
	display: block;
	line-height: 1.5;
	width: 100%;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 10px;
}

.footerIcons {
	padding-bottom: 30px;
	display: flex;
}

.footerButtonsContainer {
	margin-top: 12px;
	width: 100%;
	padding-bottom: 70px;
}

.footerButtons {
	filter: $drop-shadow;
	justify-content: center;
	align-items: center;
	display: flex;
}

.footerPlayStore {
	height: 45px;
}

.footerAppStore {
	margin-right: 12px;
	height: 45px;
}

.footerLinksContainer {
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.footerLinksContainer > p {
	font-size: 0.8em;
	color: $footer-text-color;
	text-align: center;
}

.footerLinksContainer > p > a {
	color: $footer-text-color;
}

.footerLinksContainer > p > a:hover {
	text-decoration: underline; 
}


.footerDivider {
	margin-top: 20px;
	margin-bottom: 20px;
}

.copyrightText {
	font-size: 1.5rem;
	color: $footer-text-color;
	display: block;
	line-height: 1.5;
	width: 100%;
	text-align: right;
	padding-top: 0px;
	padding-bottom: 53px;
}

@media only screen and (max-width: 992px) {

	.footerAppStore {
		margin-right: 12px;
		margin-bottom: 0px;
	}
	
} 

@media only screen and (max-width: 528px) {

	.footerAppStore {
		margin-right: 0px;
		margin-bottom: 12px;
	}

	.footerButtons {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		display: flex;
	}	
} 

@media only screen and (max-width: 992px) {
	
	.footerText {
		color: $footer-text-color;
		display: block;
		line-height: 1.5;
		width: 100%;
		text-align: center;
	}
	
	.footerIcons {
		display: flex;
	}	
} 

.hidden {
	display: none;
}